/*-------------------------------general---------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;

}


/*-------------------------------//general---------------------------------*/

/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.navbar {
  height: 90px;
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #02f5b89d !important;
  
}

.navbar:not(.top-nav-collapse) {
background:  #fff !important;
}

@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
background: #02f5b89d !important;
}
}

h6 {
line-height: 1.7;
}

.rgba-gradient {
background: linear-gradient();

} 

.mask .row{
    position: absolute;
    top: 10%;
    width: 100%;
    left: 5%;
}

.fadeInLeft{
    height: 100vh;
    
}
/************************ sidebar ***************************************/
.menu-icon{
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 44px;
  padding: 4px 8px;
  background-color: #36333c;
  box-shadow: border-box;
  cursor: pointer;
  z-index: 100;

}

.menu-icon span{
  width: 100%;
  height: 4px;
  display: block;
  background-color: #fff;
  margin: 6px 0;
  transition: .5s;
}

.sidebar{
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100vh;
  background: rgba(194, 188, 188, 0.397);
  transition: .5s;
  
  box-sizing: border-box;
  
}

.sidebar.active{
  left: 0;
}

.menu-icon.active span{
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% - 8px);

}

.menu-icon.active span:nth-child(1){
  transform: rotate(45deg);
}

.menu-icon.active span:nth-child(2){
 display: none;
}

.menu-icon.active span:nth-child(3){
  transform: rotate(-45deg);
}

/************************* //sidebar ********************************/
/*************************** accordion ******************************/

.accordion{
  margin-top: 90px;
}

.accordion h5{
  color: rgb(92, 87, 87);
  font-weight: 100;
  letter-spacing: 2px;
}

.accordion li a{
  letter-spacing: 3px;
  color: rgb(92, 87, 87);
}


.accordion ul li{
  text-align: center;
}
.card-body {
  margin-top: -100px;
  border-radius: none !important;
  padding-top: 100px;
  background-color: transparent !important;
}

.list-group-item{
  background: none !important;
}

.log ul{
  position: absolute;
  top: 45px;
  right: 90px;
  display: flex;
  list-style: none;
}
.log ul li{
  margin-left: 15px;
}

/************************ //accordion *********************************/
/*************************** scrollbar ******************************/

.custom-scrollbar {
  height: 170px;
  overflow-y: scroll;
}
/* To style the document scrollbar, remove `.custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}


/*************************** //scrollbar ******************************/
/******************************* caroussel **********************************************************/
.swiper-slide img{
  width: 120px;
  height: 120px;
}

/* 
.view .detail{
  position: absolute;
  right: 10%;
} */
/********************************** //caroussel ***************************************/

.card img{
    height: 160px;
    width: 100%;
    
}

.fadeInRight{
  position: absolute;
  right: 90px;
}

/******************************************************************************** selection ***************************************************************************************************************************************/

/********************************************************************************* //selection **************************************************************************************************************************************/

/**************** categorie ********************************************************************************************/

.categorie{
  height: 100vh;
  background: #beb8b8;
  margin-top: 100px;
}

.indigo{
  background-color: #02f5b89d !important;
}

.nav-tabs .nav-item .nav-link{
  color: #000 !important;
  font-weight: bold;
}

/* mixin for multiline */
.card {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.card-img img {
  padding: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.categorie .card-body {
  height: 300px;
  margin-top: -100px;
  border-radius: 15px;
  padding-top: 100px;
  background-color: #ffffff !important;
}
.card-text {
  display: block;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  max-height: 72px;
}

.card {
  -webkit-box-shadow: none !important;
}


.card .card-body .card-text{
  font-size: 15px !important;
  color: #000;
  font-weight: 100;
  
}

.card-title{
  font-weight: 100;
}

.card-body ul li{
  margin-right: 10px;
}
.card-body ul li a i{
  font-size: 20px;
  color: #4285f3;
}

.icon{
  margin-top: 30px;
}
/*********************************************************************** //categorie ********************************************************************************************/
